<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../static/css/home.css">
</head>

<body>
    <div class="main">
        <div class="header">
            <h1>home page</h1>
        </div>
        <div class="content">
            <iframe id="grid" src="./bag.html" height="100%" width="100%"></iframe>
            
        </div>
        <div class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-2" id="f01">
                        <img src="../static/pic/user.png" width="40" height="40" onclick="npc()">
                        npc
                    </div>
                    <div class="col-2" id="f02">
                        <img src="../static/pic/input.png" width="40" height="40" onclick="get()">
                        輸入
                    </div>
                    <div class="col-2" id="f03">
                        <img src="../static/pic/backpack.png" width="40" height="40" onclick="bag()">
                        背包
                    </div>
                    <div class="col-2" id="f04">
                        <img src="../static/pic/maps.png" width="40" height="40" onclick="map()">
                        地圖
                    </div>
                    <div class="col-2" id="f05">
                        <img src="../static/pic/scroll.png" width="40" height="40" onclick="mission()">
                        進度
                    </div>
                    <div class="col-2" id="f06">
                        <img src="../static/pic/home.png" width="40" height="40" onclick="home()">
                        首頁
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../static/js/home.js"></script>

</html>