<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>

<body>
    <div class="main">
        <div class="title">
            <h1>失落國度</h1>
            <h2>金資塔的詛咒</h2>
        </div>
        <form action="" class="login" method="post">
            <h2>進入金資塔</h2>
            <input type="text" name="Username" id="Username" placeholder="隊伍代號" required />
            <input type="password" name="Password" id="Password" placeholder="驗證碼" required />
            <input type="submit" value="GoGo" />
        </form>
    </div>
</body>

</html>