<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NPC</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../static/css/grid.css">
    <script src="../static/js/home.js"></script>
</head>

<body>
    <!-- <h1>NPC</h1> -->
    <div class="container" style="margin-top:20px;" id="2">
        <button id="btn" onclick="A()">clear守衛</button>
        <table class="table table-striped" id="table">
            <tr>
                <th>NPC</th>
                <th>介紹</th>
            </tr>
            <tr id="1">
                <td><img src="../static/pic/user.png" style="height: 150px; width: 150px;" alt=""></td>
                <td>
                    <h5>g.3jo4</h5>
                    金資塔的守衛，法老王的王權便是由守衛家族世世代代守護的。
                    <p>(dk3g3m/4)</p>
                </td>
            </tr>
            <tr>
                <td><img src="../static/pic/user.png" style="height: 150px; width: 150px;" alt=""></td>
                <td>為民奔波、威望十足的好村長，目前正在金資塔協助各位神選者。</td>
            </tr>
            <tr>
                <td><img src="../static/pic/user.png" style="height: 150px; width: 150px;" alt=""></td>
                <td>跟著我們一同前來的探險團團長，喜歡在空閒時研究海克斯技術。</td>
            </tr>
            <tr>
                <td><img src="../static/pic/user.png" style="height: 150px; width: 150px;" alt=""></td>
                <td>海市蜃樓中開店的占卜師，特別喜歡毒牙作為占卜祭品。</td>
            </tr>
            <tr>
                <td><img src="../static/pic/user.png" style="height: 150px; width: 150px;" alt=""></td>
                <td>勤奮的農夫，在海市蜃樓辛勤工作著。</td>
            </tr>
            <tr>
                <td><img src="../static/pic/user.png" style="height: 150px; width: 150px;" alt=""></td>
                <td>勤勉好學的學者，目前正在海市蜃樓做學術研究。</td>
            </tr>
            <tr>
                <td><img src="../static/pic/user.png" style="height: 150px; width: 150px;" alt=""></td>
                <td>在海市蜃樓工作的伐木工，信仰著塞特，深知樹林能夠阻擋風暴所以不會過量砍樹。</td>
            </tr>
            <tr>
                <td><img src="../static/pic/user.png" style="height: 150px; width: 150px;" alt=""></td>
                <td>採礦技術全村最好的礦工，在荒漠附近探索礦洞中。</td>
            </tr>
            <tr>
                <td><img src="../static/pic/user.png" style="height: 150px; width: 150px;" alt=""></td>
                <td>在荒漠中伺機而動的獵人，無論是天上猛禽或是地上猛獸都能輕鬆降伏。</td>
            </tr>
            <tr>
                <td><img src="../static/pic/user.png" style="height: 150px; width: 150px;" alt=""></td>
                <td>來自外國的異鄉人，喜歡在旅行中蒐集各種寶物，目前正在荒漠尋寶中。</td>
            </tr>
            <tr>
                <td><img src="../static/pic/user.png" style="height: 150px; width: 150px;" alt=""></td>
                <td>見識匪淺的智者有著熱愛哲學的心，目前在荒漠獨自思考人生，平常興趣是做面具。</td>
            </tr>
            <tr>
                <td><img src="../static/pic/user.png" style="height: 150px; width: 150px;" alt=""></td>
                <td>聖地中默默祈禱的祭司，會用特別的儀式使用聖物。</td>
            </tr>
            <tr>
                <td><img src="../static/pic/user.png" style="height: 150px; width: 150px;" alt=""></td>
                <td>虔誠的信徒，長年在聖地供奉神明，十分厭惡對神明不敬的人。</td>
            </tr>
            <tr>
                <td><img src="../static/pic/user.png" style="height: 150px; width: 150px;" alt=""></td>
                <td>在聖地中研究元素魔法的魔導，擅長玩火。</td>
            </tr>
            <tr>
                <td><img src="../static/pic/user.png" style="height: 150px; width: 150px;" alt=""></td>
                <td>綠洲中的巫師，能用巫術將普通物品強化，時有奇效。</td>
            </tr>
            <tr>
                <td><img src="../static/pic/user.png" style="height: 150px; width: 150px;" alt=""></td>
                <td>被主人囚禁在綠洲已久的奴隸，平時無聊時會堆堆沙堡來消遣。</td>
            </tr>
            <tr>
                <td><img src="../static/pic/user.png" style="height: 150px; width: 150px;" alt=""></td>
                <td>在綠洲中隱居的正直武神，傳說中他製造的武器能夠懲罰壞份子。</td>
            </tr>
            <tr>
                <td><img src="../static/pic/user.png" style="height: 150px; width: 150px;" alt=""></td>
                <td>綠洲突然出現的神秘法師，據本人說他能夠控制時間。</td>
            </tr>
            <tr>
                <td><img src="../static/pic/user.png" style="height: 150px; width: 150px;" alt=""></td>
                <td>村莊裡的醫生，一把手術刀拯救無數埃及村民生命。</td>
            </tr>
            <tr>
                <td><img src="../static/pic/user.png" style="height: 150px; width: 150px;" alt=""></td>
                <td>村莊裡的廚師，刀工十分了得，處理食材頗有心得，烤蠍子是她的拿手好菜。</td>
            </tr>
            <tr>
                <td><img src="../static/pic/user.png" style="height: 150px; width: 150px;" alt=""></td>
                <td>村莊中最誠信的商人，童叟無欺是他的座右銘。</td>
            </tr>
            <tr>
                <td><img src="../static/pic/user.png" style="height: 150px; width: 150px;" alt=""></td>
                <td>村莊內做工最紮實、手藝最精巧的工匠。</td>
            </tr>
            <tr>
                <td><img src="../static/pic/user.png" style="height: 150px; width: 150px;" alt=""></td>
                <td>村莊內打鐵舖的鐵匠，不少武器的雛型都是由他製造的。</td>
            </tr>
            <tr>
                <td><img src="../static/pic/user.png" style="height: 150px; width: 150px;" alt=""></td>
                <td>定居於村莊的寡婦，許多家務事都非常得心應手，村民都很喜歡她。</td>
            </tr>
            <tr>
                <td><img src="../static/pic/user.png" style="height: 150px; width: 150px;" alt=""></td>
                <td>一群盜墓者，穿梭在埃及中，遇見他們究竟是禍還是福呢?</td>
            </tr>
        </table>
    </div>

</body>


</html>