<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Progress</title>
    <style>
        body {
            background-color: black;
        }

        img {
            margin: 0%;
            padding: 0%;
        }

        div {
            width: 100%;
        }

        div .img {
            font-size: 0;
        }

        .content {
            margin-top: 15%;
            color: white;
        }
    </style>
</head>

<body>
    <div class="content">
        <div class="img">
            <img src="../static/pic/eyes1-1.png" width="33%" alt="">
            <img src="../static/pic/eyes1-2.png" width="66%" alt="">
        </div>
        <div class="img">
            <img src="../static/pic/eyes1-3.png" width="33%" alt="">
            <img src="../static/pic/eyes1-4.png" width="33%" alt="">
            <img src="../static/pic/eyes1-5.png" width="33%" alt="">
        </div>
        <h3>每解決一個災難，荷魯斯之眼將解放一部分能力。</h3>
    </div>
    <div class="content">
        <div class="img">
            <img src="../static/pic/eyes2-1.png" width="33%" alt="">
            <img src="../static/pic/eyes2-2.png" width="66%" alt="">
        </div>
        <div class="img">
            <img src="../static/pic/eyes2-3.png" width="33%" alt="">
            <img src="../static/pic/eyes2-4.png" width="33%" alt="">
            <img src="../static/pic/eyes2-5.png" width="33%" alt="">
        </div>
    </div>
</body>

</html>