* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Roboto;
    scroll-behavior: smooth;
}

.main {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: gray;
    background-image: url(../pic/posterPrec.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: aliceblue;
}

.title {
    margin-top: 65%;
}

.title h1 {
    font-size: 60px;
    color: rgb(246, 255, 0);
}

.title h2 {
    font-size: 40px;
    color: rgb(255, 231, 211);
}

form {
    text-align: center;
    align-items: center;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    height: auto;
}

form input {
    text-align: center;
    margin: 10px;
    width: 60px;
    height: 30px;
    padding: 4px;
    border-radius: 22px;
    outline: none;
}

input[type='text'],
input[type='password'] {
    width: 170px;
}

input[type='text']:focus,
input[type='password']:focus {
    border-color: #f7ec86;
    width: auto;
    transition: 0.5s;
}